<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poskitix</title>
    <script class="headflowbite" src="./node_modules/flowbite/dist/datepicker.js"></script>
    <!-- Load Google client library -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=initGoogleSignIn" async defer></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <nav class="fixed top-0 left-0 z-20 w-full bg-[#CFCAC2] border-gray-200 dark:bg-gray-900 dark:border-gray-700">
        <div class=" flex flex-wrap items-center justify-between mx-auto p-4">

            <!-- GreenGoing logo -->
            <RouterLink to="/">
                <div class="flex items-center">
                    <img src="/src/assets/logo.png" class="h-14 mr-4 rounded-3xl" alt="GreenGoing Logo" />
                </div>
            </RouterLink>



            <!-- button to access navbar on on mobile sizes -->
            <button data-collapse-toggle="navbar-multi-level" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-200 rounded-lg lg:hidden hover:bg-neutral-500 focus:outline-none focus:ring-2 focus:ring-neutral-500"
                aria-controls="navbar-multi-level" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>

            <div class="hidden w-full lg:block lg:w-auto" id="navbar-multi-level">
                <ul
                    class="flex flex-col font-medium p-5 md:p-0 mt-4 border border-gray-100 rounded-lg bg-[#CFCAC2] md:flex-row md:space-x-12 md:mt-0 md:border-0">

                    <li>
                        <div>
                            <label for="nav-search"
                                class="mb-2 text-xs font-medium text-gray-900 sr-only dark:text-white">Search</label>
                            <div class="relative">

                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>

                                <input type="search" id="nav-search" v-model="to_search" v-on:keyup="check()"
                                    placeholder='Search Experiences!'
                                    class="block w-full p-2 pl-8 pr-12 mx10 text-xs text-gray-900 border border-slate-900 rounded-lg bg-grey-200"
                                    required>

                                <button @click="search()"
                                    class="text-white absolute right-1 bottom-1 bg-neutral-400 hover:bg-neutral-500 focus:ring-4 focus:outline-none focus:ring-[#50A060] font-xsmall rounded-md text-xs px-1 py-1">Search</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <RouterLink to="/"
                            class="block py-2 pl-3 pr-4 text-white rounded hover:bg-neutral-500 md:hover:bg-transparent  md:hover:text-[#50A060] md:p-0"
                            aria-current="page">
                            Home
                        </RouterLink>
                    </li>

                    <li>
                        <RouterLink to="/cart"
                            class="block py-2 pl-3 pr-4 text-white rounded hover:bg-neutral-500 md:hover:bg-transparent md:border-0 md:hover:text-[#50A060] md:p-0">
                            Listings
                        </RouterLink>
                    </li>


                    <li>
                        <RouterLink to="/itinerary"
                            class="block py-2 pl-3 text-white rounded hover:bg-neutral-500 md:hover:bg-transparent md:border-0 md:hover:text-[#50A060] md:p-0">
                            Itinerary
                        </RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/favourites"
                            class="block py-2 pl-3 text-white rounded hover:bg-neutral-500 md:hover:bg-transparent md:border-0 md:hover:text-[#50A060] md:p-0">
                            Favourites
                        </RouterLink>
                    </li>

                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4  text-white border border-gray-100 hover:bg-[#50A060] md:hover:bg-transparent md:border-0 md:hover:text-[#50A060] md:p-0 md:w-auto">
                            <img src="/src/assets/User Profile Icon.png" />
                            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 1 4 4 4-4" />
                            </svg>
                        </button>

                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar"
                            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <SignOutButton to="/login" :isUserSignedIn="isUserSignedIn" @signOut="handleSignOut"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-emerald-700 dark:hover:bg-gray-600 dark:text-gray-400 hover:text-white">
                                        {{ isUserSignedIn ? 'Sign Out' : 'Sign In' }}
                                    </SignOutButton>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="PageContent">
        <div class="flex flex-col flex-1">

            <div class="animate-up">
                <div id="top-header" class="block pt-8 shadow-inner w-full">
                    <div class="typingtext">
                        <div class="typewriter hidden lg:block justify-content-center">
                            <h1
                                class="mb-4 p-5 text-3xl font-extrabold leading-none tracking-tight text-black md:text-5xl lg:text-6xl dark:text-white text-center">
                                Buying Concert Tickets have Never been Easier!
                            </h1>
                        </div>
                    </div>

                    <div class="lg:hidden">
                        <h1
                            class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">
                            Buying Concert Tickets have Never been Easier!
                        </h1>
                    </div>

                    <p
                        class="mb-6 text-3xl font-bold text-gray-500 lg:text-4xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">
                        At
                        <span class="text-green-500 font-bold dark:text-red-500">Poskitix</span>, We're Dedicated to
                        Enhancing
                        Ticketing
                        Purchases
                    </p>
                </div>
            </div>


            <div class="animate-up flex flex-shrink-0 h-80 md:h-96">
                <div id="user-input-area" class="w-full h-auto">
                    <div id="homepage-carousel" class="z-0 w-full content-center" data-carousel="slide">
                        <div class="relative z-0 h-80 overflow-hidden w-full rounded-t-2xl md:h-96">

                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="pics/erastour.jpeg"
                                    class="w-full h-64 lg:h-full object-cover relative block w-full shadow-xl"
                                    alt="Taylor Swift Eras Tour">
                            </div>

                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="pics/brunomars.png"
                                    class="w-full h-64 lg:h-full object-cover relative block w-full shadow-xl"
                                    alt="Bruno Mars Tour">
                            </div>

                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="pics/coldplay.png"
                                    class="h-64 lg:h-full object-cover relative block w-full shadow-xl"
                                    alt="Coldplay Music of Spheres Tour">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="animate-up flex flex-shrink-0 flex-1">
                <div id="featured-listings" style="background-color: bisque;" class="px-6 pt-2 pb-12 w-full h-full">

                    <div id="header-featured-listings" class="px-6 my-5">
                        <h1
                            class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-emerald-600 md:text-5xl lg:text-6xl dark:text-white">
                            Concerts People</h1>
                        <h1
                            class="text-center mb-4 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                            <mark class="px-4 font-bold text-white bg-red-600 rounded dark:bg-red-500">LOVE</mark>
                        </h1>
                        <p class="font-bold text-lg text-gray-500 lg:text-xl dark:text-gray-400 text-center">Concerting Shouldn't be Complicated!</p>
                    </div>

                    <div id="PageContent"
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 place-items-center content-center">

                        <itemCardVue v-for="doc of allDocs" :cardID=doc.ID :cardName=doc.Data.Name
                            :cardImg=doc.Data.images[0] :cardRating=doc.Data.rating :cardRatingImg=doc.Data.rating_img
                            :card-price=doc.Data.Price_level>
                        </itemCardVue>
                    </div>

                </div>

            </div>

        </div>
    </div>


</body>
</html>

<!-- ApexChart CDN -->
<script class='' src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- Itinerary flowbite -->
<script id='flowbite' src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
<!-- <script src="./node_modules/flowbite/dist/flowbite.min.js"></script>
<script src="./node_modules/flowbite/dist/datepicker.js"></script> -->

<!-- Importing icons from ionic.io -->
<script class='importCDN' type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script class='importCDN' nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>